<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="#"><i class="fa fa-bus" aria-hidden="true"></i> MUSA</a>
        <!--
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
            &#9776;
        </button>-->
        <div class="collapse navbar-collapse" id="exCollapsingNavbar">
            <!--
            <ul class="nav navbar-nav">
                <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                </li>
                <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-university" aria-hidden="true"></i>
                        About</a></li>
                <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-bars" aria-hidden="true"></i>
                        Service</a></li>
                <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-contao" aria-hidden="true"></i>
                        Contactos</a></li>
            </ul>
        -->
            <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
                <li class="dropdown">
                    <a *ngIf="!loginService.isAuthenticated()" href="#" style="color: white;" [routerLink]="['/login']" routerLinkActive="router-link-active"><i class="fas fa-user-lock"></i></a>
                    <a *ngIf="loginService.isAuthenticated()" class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                        <i class="fa fa-address-card" aria-hidden="true" ></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right mt-2 espacio">
                        <li class="dropdownMenuLink">
                            <p class="margen"><i class="far fa-user"></i></p>
                            <p class="margen">{{loginService.empleado.nombres+' '+loginService.empleado.apellidos}}</p>
                            <strong class="margen">Administrador</strong>
                            <hr>
                        </li>

                        <li class="px-3 py-2 espacio margen">
                            <a href="#" class="margen"><i class="fas fa-user-edit"></i></a>
                            <a href="#" class="margen" style="padding-left: 20px;" (click)="logout()">
                                <i class="fas fa-sign-out-alt"></i>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
