@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

button:focus {
    outline: 0;
}

.navbar .dropdown-menu .form-control {
    width: 200px;
}
.espacio{
    text-align: center;
    color: rgb(88, 87, 86);
    min-width: 200px;
}
.margen{
    margin: 0px; 
    padding: 0px;
    outline: 0;
}
.m{
    text-align: center;
    color:blue;
}
.espacio{
    margin-right: 5px;
}
.texto{
    
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
}