<div class="container caja">
    <div class="card border-primary">
        <div class="card-header text-primary" style="text-align: center;"><i class="fas fa-bus-alt"></i>{{titulo}} </div>
        <div class="card-body">
            <form method="post">
                <div class="form-group">
                    <input [(ngModel)]="usuario.username" type="text"  name="nomuser" class="form-control" placeholder="Username"
                        autofocus required>
                </div>

                <div class="form-group">
                    <input [(ngModel)]="usuario.password" type="password" name="password" class="form-control" placeholder="Password"
                        required>
                </div>
                <div class="form-group">
                   
                    <button (click)='cancelar()' type="button" class="btn btn-danger" style="margin-right: 20px;">Cancelar</button>
                    <input (click)='login()' type="submit" class="btn btn-primary" style="width: 220px;" value="Login">
                </div>

            </form>
        </div>
    </div>
</div>